/*
div {
    margin: o;
    padding: 0;
    background: lightblue;
}
*/

/*
div div {
    background: black;
    position: relative;
}
*/

.box {
    height: 400px;
    width: 400px;
    margin: auto;
    background: lightblue;

}

.boxes {}

.box1,
.box2 {
    width: 200px;
    height: 200px;
    position: absolute;
}

.box1 {
    background: black;

}

.box2 {
    background: red;
    margin-left: 200px;
}
